---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<ul>
  <li>
    <strong>An augmented fully-mixed finite element method for a coupled flow-transport problem</strong><br>
    G. N. Gatica, C. Inzunza<br>
    <em>Calcolo, 57</em>, 2020<br>
    <a href="https://doi.org/10.1007/s10092-020-0355-y">https://doi.org/10.1007/s10092-020-0355-y</a>
  </li>
  <li>
    <strong>On the well-posedness of Banach spaces-based mixed formulations for the nearly incompressible Navier-Lamé and Stokes equations</strong><br>
    G. N. Gatica, C. Inzunza<br>
    <em>Computers & Mathematics with Applications, 102, 87–94</em>, 2021<br>
    <a href="https://doi.org/10.1016/j.camwa.2021.10.004">https://doi.org/10.1016/j.camwa.2021.10.004</a>
  </li>
  <li>
    <strong>A posteriori error analysis of Banach spaces-based fully-mixed finite element methods for Boussinesq-type models</strong><br>
    G. N. Gatica, C. Inzunza, R. Ruiz-Baier, F. Sandoval<br>
    <em>Journal of Numerical Mathematics, 30, 325–356</em>, 2022<br>
    <a href="https://doi.org/10.1515/jnma-2021-0101">https://doi.org/10.1515/jnma-2021-0101</a>
  </li>
  <li>
    <strong>A Pseudostress-Based Mixed-Primal Finite Element Method for Stress-Assisted Diffusion Problems in Banach Spaces</strong><br>
    G. N. Gatica, C. Inzunza, F. A. Sequeira<br>
    <em>Journal of Scientific Computing, 92</em>, 2022<br>
    <a href="https://doi.org/10.1007/s10915-022-01959-9">https://doi.org/10.1007/s10915-022-01959-9</a>
  </li>
  <li>
    <strong>New Banach spaces-based fully-mixed finite element methods for pseudostress-assisted diffusion problems</strong><br>
    G. N. Gatica, C. Inzunza, F. A. Sequeira<br>
    <em>Applied Numerical Mathematics, 193, 148–178</em>, 2023<br>
    <a href="https://doi.org/10.1016/j.apnum.2023.07.017">https://doi.org/10.1016/j.apnum.2023.07.017</a>
  </li>
  <li>
    <strong>A Banach spaces-based fully-mixed finite element method for the stationary chemotaxis-Navier-Stokes problem</strong><br>
    S. Caucao, E. Colmenares, G. N. Gatica, C. Inzunza<br>
    <em>Computers & Mathematics with Applications, 145, 65–89</em>, 2023<br>
    <a href="https://doi.org/10.1016/j.camwa.2023.06.006">https://doi.org/10.1016/j.camwa.2023.06.006</a>
  </li>
  <li>
    <strong>New Banach spaces-based mixed finite element methods for the coupled poroelasticity and heat equations</strong><br>
    J. Careaga, G. N. Gatica, C. Inzunza, R. Ruiz-Baier<br>
    <em>IMA Journal of Numerical Analysis</em>, 2024<br>
    <a href="https://doi.org/10.1093/imanum/drae052">https://doi.org/10.1093/imanum/drae052</a>
  </li>
  <li>
    <strong>Primal-mixed finite element methods for the coupled Biot and Poisson–Nernst–Planck equations</strong><br>
    G. N. Gatica, C. Inzunza, R. Ruiz-Baier<br>
    <em>Computers & Mathematics with Applications, 186, 53–83</em>, 2025<br>
    <a href="https://doi.org/10.1016/j.camwa.2025.03.004">https://doi.org/10.1016/j.camwa.2025.03.004</a>
  </li>
</ul>


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



